
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@600&display=swap');

$color-cat: #0059bf;
$color-heading: #000;
$color-par: #606669;
$border-list: #ccc;
$font-heading:'Roboto Slab', serif;
$font-para:'Lato', sans-serif;
$spacing-mini: 16px;
$spacing-base:24px;
$tablet:768px;
$desktop:1024px;



@mixin grid-limit-medium{

  padding: 0 $spacing-base;
    margin: 0 auto;


  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}


@mixin common-list-styles{
   padding : 0 $spacing-base;

  li {
    list-style-type: none;
   padding : $spacing-base 0 $spacing-base;
   border-bottom: 1px solid $border-list;
   display: flex;
   justify-content: space-between;
   gap:$spacing-base;
  }
}

@mixin category{
  color:$color-cat;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-para;

}

@mixin heading-h3{
  color:$color-heading;
  font-size: 24px;
  line-height: 32px;
  font-family: $font-heading;
  margin: $spacing-mini 0;
}

@mixin stand-first{
  color:$color-par;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-para;
}

.inner-container{
@include grid-limit-medium;
}

.cs-cat{
  @include category;
  text-decoration: none;
}
.cs-heading {
@include heading-h3;
}

.cs-para{
  @include stand-first;
}

.cs-list{
@include common-list-styles;
}


.cs-section-right {
width: 200px;
height: 200px;
display: block;
background: $border-list;
flex-shrink: 0;
}
